body{
	font-family:"Microsoft Yahei";
	font-size:12px;
	margin:0;
}

.kuangjia{
	width:1800px;
	height:1200px;
	
}
.img{
	padding:200px 200px ;
	width:600px;
	height:300px;
	float:left;
}
.price{
	padding:200px 1000px ;
	width:600px;
	height:300px;
}
.introduction{
	padding:500px 200px ;
	width:1400x;
	height:300px;
	margin-top:10px;
	text-align:center;
	font-size:16px;
	
}     